* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(0, 225, 255);
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
    "f a b b "
    "f a c d"
    "f a e e";
}
.p1 {
    background-color: rgb(252, 54, 54);
    grid-area: a;
}
.p2 { 
    background-color: rgb(105, 248, 62);
    grid-area: b;
}
.p3 {
    background-color: rgb(252, 110, 63);
    grid-area: d;
}
.p4 {
    background-color: rgb(60, 174, 250);
    grid-area: c;
}
.p5 {
    background-color: rgb(240, 253, 57);
    grid-area: e; 
}
.nav  {
    background-color:rgb(147, 233, 245);
    grid-area: f;    
}
.link {
    display: block;
    background-color: #ffab66;
    padding: 25px 25px 25px 25px;
    margin: 25px 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}