* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(0, 225, 255);
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    grid-template-areas: 
    "g a b b b"
    "g a d d c"
    "g e e f c";
}
.p1 {
    background-color: rgb(255, 0, 0);
    grid-area: a;
}
.p2 { 
    background-color: rgb(68, 248, 14);
    grid-area: b;
}
.p3 {
    background-color: rgb(252, 110, 63);
    grid-area: c;;
}
.p4{
    background-color: rgb(0, 153, 255);
    grid-area: d;
}
.p5{
    background-color: rgb(239, 255, 10);
    grid-area: e;
}
.p6 {
    background-color: rgb(239, 255, 10);
    grid-area: f;
}
.nav  {
    background-color:rgb(147, 233, 245);
    grid-area: g;    
}
.link {
    display: block;
    background-color: #ffab66;
    padding: 25px 25px 25px 25px;
    margin: 25px 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}